
* {
  margin: 0;
  padding: 0; }

.main {
  width: 100%;
  height: 100%; }

#add-photo.show {
  display: block; }

#add-photo {
  display: none; }
  #add-photo .body {
    width: 600px;
    margin: 10% auto 10%; }
    #add-photo .body .scan-seg {
      min-height: 120px; }
      #add-photo .body .scan-seg .column {
        cursor: pointer; }
    #add-photo .body .progress-seg {
      margin: 15px 0 0 0; }
    #add-photo .body .upload-seg {
      margin-top: 15px;
      position: relative; }
      #add-photo .body .upload-seg .sel {
        float: left;
        width: 45%; }
      #add-photo .body .upload-seg .up {
        float: right;
        width: 45%; }
      #add-photo .body .upload-seg .clear {
        clear: both; }
      #add-photo .body .upload-seg .back-input {
        position: absolute;
        opacity: 0; }
        #add-photo .body .upload-seg .back-input input {
          cursor: pointer;
          height: 36px; }

#analysis.show {
  display: block; }

#analysis {
  display: none;
  width: 100%;
  height: 100%; }
  #analysis > div {
    width: 300px; }
  #analysis .main-img {
    margin: 5% auto 0 auto; }
  #analysis .sel-img {
    margin: 20px auto 0 auto;
    text-align: center;
    position: relative; }
    #analysis .sel-img > span {
      display: inline-block;
      width: 60px;
      height: 60px;
      border: 2px solid white;
      line-height: 60px;
      font-weight: bold;
      font-size: 14px; }
      #analysis .sel-img > span.selected {
        border-color: #f2c61f; }
      #analysis .sel-img > span:nth-child(1) {
        position: absolute;
        left: 0; }
      #analysis .sel-img > span:nth-child(3) {
        position: absolute;
        right: 0; }
  #analysis .footer {
    margin: auto; }
    #analysis .footer .buttons {
      margin: 20px auto 20px auto;
      width: 100%; }
      #analysis .footer .buttons .button {
        width: 49%; }
      #analysis .footer .buttons .or {
        width: 2%; }
  #analysis .hidden {
    display: none; }

#share.show {
  display: block; }

#share {
  width: 600px;
  height: auto;
  margin: 10% auto 10% auto;
  display: none; }
  #share .card.main {
    width: 100%; }
    #share .card.main > div {
      padding: 0 5% 0 5%; }
    #share .card.main .head {
      background: #66c17b;
      position: relative; }
      #share .card.main .head .title {
        font-size: 16px;
        color: white;
        line-height: 40px; }
      #share .card.main .head .remove {
        position: absolute;
        right: 5%;
        line-height: 40px;
        cursor: pointer; }
    #share .card.main .content {
      margin-top: 10px; }
      #share .card.main .content .tag-and-img .left {
        float: left; }
        #share .card.main .content .tag-and-img .left .my {
          font-size: 16px;
          color: #66c17b; }
        #share .card.main .content .tag-and-img .left .shop-name {
          font-weight: bold;
          font-size: 16px; }
      #share .card.main .content .tag-and-img .right {
        float: right; }
        #share .card.main .content .tag-and-img .right .shop-img {
          width: 60px;
          height: 60px;
          border-radius: 50%; }
      #share .card.main .content .tag-and-img .clear {
        clear: both; }
      #share .card.main .content p.address {
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px; }
    #share .card.main .footer ul li {
      display: inline;
      cursor: pointer; }
      #share .card.main .footer ul li img {
        width: 40px;
        height: 40px; }

#take-photo.show {
  display: block; }

#take-photo {
  display: none;
  width: 100%;
  height: 100%; }
  #take-photo .card {
    width: 600px;
    margin: 10% auto 10%; }
    #take-photo .card .title {
      height: 60px; }
      #take-photo .card .title p {
        line-height: 60px;
        color: #66c17b;
        font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 23px;
        text-align: center; }
    #take-photo .card .camera {
      text-align: center; }
      #take-photo .card .camera .back-input {
        margin-top: -62px; }
        #take-photo .card .camera .back-input input {
          width: 62px;
          height: 62px;
          cursor: pointer;
          opacity: 0; }
    #take-photo .card .note {
      text-align: center;
      padding-bottom: 20px; }

@keyframes selected-file-anim {
  0% {
    width: 100%;
    height: 100%; }

  50% {
    width: 140%;
    height: 140%; }

  100% {
    width: 100%;
    height: 100%; } }

@-moz-keyframes selected-file-anim {
  0% {
    width: 100%;
    height: 100%; }

  50% {
    width: 140%;
    height: 140%; }

  100% {
    width: 100%;
    height: 100%; } }

@-webkit-keyframes selected-file-anim {
  0% {
    width: 100%;
    height: 100%; }

  50% {
    width: 140%;
    height: 140%; }

  100% {
    width: 100%;
    height: 100%; } }

@-o-keyframes selected-file-anim {
  0% {
    width: 100%;
    height: 100%; }

  50% {
    width: 140%;
    height: 140%; }

  100% {
    width: 100%;
    height: 100%; } }

#up-photo.show {
  display: block; }

#up-photo {
  display: none;
  width: 100%;
  height: 100%; }
  #up-photo .selected-file {
    animation: selected-file-anim 10s;
    -moz-animation: selected-file-anim 10s;
    /* Firefox */
    -webkit-animation: selected-file-anim 10s;
    /* Safari and Chrome */
    -o-animation: selected-file-anim 10s;
    /* Opera */
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -o-animation-timing-function: linear; }
