@import base
#share.show
	display: block
#share
	+size(600px,auto)
	margin: 10% auto 10% auto
	display: none
	.card.main
		width: 100%
		&>div
			padding: 0 5% 0 5%
		.head
			background: $green
			position: relative
			.title 
				font-size: 16px
				color: white
				line-height: 40px
			.remove
				position: absolute
				right: 5%
				line-height: 40px
				cursor: pointer
		.content
			margin-top: 10px
			.tag-and-img
				.left
					float: left
					.my
						font-size: 16px
						color: $green
					.shop-name
						font-weight: bold
						font-size: 16px
				.right
					float: right
					.shop-img
						+size(60px,60px)
						border-radius: 50%
				.clear
					clear: both
			p.address
				margin-top: 15px 
				color: rgba(0,0,0,.5)
				font-size: 14px
		.footer
			ul
				li 
					display: inline
					cursor: pointer
					img
						+size(40px,40px)



