#share
	.ui.card.main
		.head
			span.title 发送到...
			i.remove.icon
		.content
			.tag-and-img
				.left
					p.my 我在
					p.shop-name STARBUCKS COFFEE
				.right
					img.shop-img(src='assets/images/测试.jpg')
				.clear
			p.address 广州市 天河区228号 正佳购物广场1楼1A008-009铺
		.ui.divider
		.footer
			ul
				li
					img(src="assets/images/wechat.png")
				li
					img(src="assets/images/friends.png")
				li
					img(src="assets/images/qq.png")
				li
					img(src="assets/images/sms.png")


	//.ui.card
		.header 发送到
		.content
			a.ui.blue.header STARBUCK1
			.description 广州市 天河区228号 正佳购物广场1楼1A008-009铺
		.extra.content
			.circular.ui.button.icon
				i.icon.settings
			.circular.ui.button.icon
				i.icon.settings
			.circular.ui.button.icon 
				i.icon.settings//
