#analysis
	.ui.card.main-img
		.image
			img(src='assets/images/测试.jpg')
		.content
			a.ui.blue.header STARBUCK1
			.description 广州市 天河区228号 正佳购物广场1楼1A008-009铺 
	.ui.card.main-img.hidden
		.image
			img(src='assets/images/测试.jpg')
		.content
			a.ui.blue.header STARBUCK2
			.description 广州市 天河区228号 正佳购物广场1楼1A008-009铺 
	.ui.card.main-img.hidden
		.image
			img(src='assets/images/测试.jpg')
		.content
			a.ui.blue.header STARBUCK3
			.description 广州市 天河区228号 正佳购物广场1楼1A008-009铺 

	//.ui.three.doubling.cards.sel-img
		.card
			.content
				h3.header 80%
		.card
			.content
				h3.header 85%
		.card
			.content
				h3.header 87%
	.sel-img
		span 80%
		span 82%
		span 84%
	.footer			
		.ui.yellow.buttons
			.ui.button.again 重拍
			.ui.or
			.ui.button.share 分享

