#share.show {
  display: block; }

#share {
  width: 350px;
  height: auto;
  margin: 10% auto 10% auto;
  display: none; }
  #share .head {
    background: #66c17b;
    position: relative; }
    #share .head .title {
      font-size: 16px;
      color: white;
      line-height: 40px;
      margin-left: 10px; }
    #share .head .remove {
      position: absolute;
      right: 10px;
      line-height: 40px;
      cursor: pointer; }
  #share .main {
    margin: 10px 0 10px 0; }
    #share .main .tag-and-img .left {
      float: left; }
      #share .main .tag-and-img .left .my {
        font-size: 16px;
        color: #66c17b; }
      #share .main .tag-and-img .left .shop-name {
        font-weight: bold;
        font-size: 16px; }
    #share .main .tag-and-img .right {
      float: right; }
      #share .main .tag-and-img .right .shop-img {
        width: 55px;
        height: 55px;
        border-radius: 50%; }
    #share .main .tag-and-img .clear {
      clear: both; }
    #share .main p.address {
      margin-top: 15px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 14px; }
    #share .main .footer ul li {
      display: inline;
      cursor: pointer; }
      #share .main .footer ul li img {
        width: 40px;
        height: 40px; }
