#select-mall-shop
	.ui.two.column.grid.body
		.column
			.ui.search
				.ui.input
					input.prompt(type='text')
				.results
		.column
				

//
	input(type='text' placeholder='商场名')
	input(type='text' placeholder='商场位置' )

	input(type='text' placeholder='店铺名')
	input(type='text' placeholder='店铺位置名')
	button.ok 确定
