#take-photo
	.ui.card
		.title
			p Mall Position Recognizer
		.camera
			.ui.button.circular.green.massive.icon
				i.icon.camera
			.back-input 
				input(type="file")
		.note.ui.warning.message.attached
			.header 温馨提示
			p 聚焦中心对准商店招牌
			p 允许浏览器访问浏览器