mixin modal()
    .ui.small.modal
        i.close.icon
        .header
            p
        .content
            p
        .actions
            .ui.positive.button 确定
            .ui.negative.button 取消 

doctype html
html
  head
    link(rel='stylesheet', href='../vendor/semantic-ui/dist/semantic.min.css')
    link(rel='stylesheet', href='mpr-1.0.0.css')
    script(src='../socket.io/socket.io.js') 
    script(src='../vendor/requirejs/require.js', data-main='index.js')
  body
    +modal()
    //p this is indexs src
    .main
     include widgets/take-photo/take-photo.jade
     include widgets/up-photo/up-photo.jade
     include widgets/analysis/analysis.jade
     include widgets/share/share.jade
     include widgets/add-photo/add-photo.jade


